# Mac
**/.DS_Store

# VS Code
**/.vscode

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.tox
**/.eggs
**/.pytest_cache

# python build artifacts
# Docker-compose persisted volumes
docker-cache
db-data
redis-data

# Nodejs
**/node_modules
**/dist
**/yarn-error.log

# Secrets
.env

